@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

/*--------CSS Reset---------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{

}

body{
    font-family: 'Courier New', Courier, monospace;
    color: ;
}

p{
    font-family: ;
    font-size: ;
    color: ;
    line-height: 1.5rem;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

/*-------------------------utility class------------------------------------*/
.container{
    max-width: 1150px;
    margin-inline: auto;

}

section{
    padding: 60px 0px;
}

.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1150px;
    margin-inline: auto;
    
}

section{
    padding: 60px 0px;
}

.primary-button{
    background-color:#03A4ED;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 800;
    color:white;
    padding: 8px 25px;
    box-shadow: ;
    transition: 0.2s ;
}

.primary-button:hover{
    background-color: #0b90ce;
}





/*-----------Main Css----------------------*/


.logo{
    width: 280px;
}
.nav-bar{
    position: fixed;
    width: 100%;
    background-color:#FAFAFA;
    z-index: 50;
}
.nav-item{
    gap: 20px;
}

.navbar{
    justify-content: space-between;
    padding:10px 0 10px; 
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 500;
    padding-inline: 7px;
    color: var(--hd-text-color);
    transition: 0.2s ease-out;
}

.nav-link:hover{
    color: red;
}
/*------------------------------navbar end----------------------------------*/


header{
    position: relative;
    top: 60px;
    
     height: 100vh;
 }


     
    







 /*

.left-box{
    width: 40%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    margin-top:;
    padding-block: var(--padding-inline-section);
}

.left-box h1{
    color:;
    font-weight: 300;
}

.right-box{
    width: 60%;
    height: 550px;
    justify-content:flex-end;
    background-image: url(./Images/banner-right-image.png);
    background-position: center;
    background-size:550px ;
    background-repeat: no-repeat;
    
}

*/